# NuGet
**/[Pp]ackages/*
**/[Rr]eleases/*
*.nupkg
/Packages

# JetBrains
.idea/

# Microsoft Visual Studio
*.[Cc]ache
*.log
*.obj
*.pdb
*.user
.vs/
[Bb]in/
[Dd]ebug/
[Oo]bj/
[Rr]elease/
x64/
x86/
Source/img/demo/creative-agency/services/04-alt.svg
